.container {
    margin: 15px;
    padding: 5px;
}

#newpost {
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
}

.link-behaviour:hover {
    cursor: pointer;
    color: blue;
}

.unfollow {
    background-color: aqua;
}

.unfollow:after {
    content: 'Following';
}

.unfollow:hover:after {
    content: 'Unfollow';
}